<html>
<head>
	<link href="/v1/css/autocompleter.css" media="screen" rel="stylesheet" type="text/css" />

    <%= javascript_include_tag :all %>
	<script type="text/javascript" src="/v1/js/scriptaculous.js?load=effects,controls"></script>
	<script type="text/javascript" src="/v1/js/builder.js"></script>
	<script type="text/javascript" src="/v1/js/autocompleter.js"></script>


	<script type="text/javascript" src="/v1/js/v1_document_autocompleter.js"></script>
</head>
<body>

	<h1>Simple document autocompleter</h1>		
	<% form_tag do %>
	<a id="v1_documentAnchor"></a>
	<% javascript_tag do %>
	var autoCompleter1= new UmnEngine.V1DocumentAutocompleter('v1_document', '/v1/documents/autocompleter_submit', $H({"maxSelections":1}));
	<% end %>

	<% end %>

	<h1>Broken one with autocompleter_client plugin f-that</h1>
	<% form_tag do %>
	<%= v1_document_autocompleter 'v1_documentAutomatic' %>
	<% end %>

</body>
</html>
