<html>
<head>
	<link href="/v1/css/autocompleter.css" media="screen" rel="stylesheet" type="text/css" />

    <%= javascript_include_tag :all %>
	<script type="text/javascript" src="/v1/js/scriptaculous.js?load=effects,controls"></script>
	<script type="text/javascript" src="/v1/js/builder.js"></script>
	<script type="text/javascript" src="/v1/js/autocompleter.js"></script>



	<script type="text/javascript" src="/v1/js/v1_document_autocompleter.js"></script>
</head>
<body>
<%= yield %>
</body>
</html>